.footer {
    background-image: linear-gradient(to right, #555e87, #1a191f);
    height: 50px;
    color: white;
    display: flex;
    flex-direction:row;
    padding: 20px;
    max-height: 150px;
    overflow: hidden;
    justify-items: flex-end;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
  .footer > a {
    font-size: 24px;
    color: white;
  }
  
  .footer > a:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .footer > a:hover {
    font-size: 24px;
    color: #D9C6A7;
  }
 