.header {
    background-image: linear-gradient(to right, #1a191f, #555e87);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position:sticky;
  

    
  }
  
  #gImg {
    width: 180px;
    height: 70px;
  }
  
  #navLink{
color: white; 
font-size: 30px;
background-color: #555e87
;
 }